* {
  box-sizing: border-box;
  font-family: "Segoe UI", "Helvetica", sans-serif;
}

body {
  cursor: default;
  overflow-x: hidden;
  display: flex; justify-content: center; align-items: center;
  height: 100vh; width: 100vw;
  margin: 0;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

form.attraction, div.attraction {
  display: block;
  width: 500px; max-width: 100%;
  background-color: rgba(0, 0, 0, 0.7); color: white;
  padding: 20px;
  margin-top: 0;
  margin-bottom: auto;
}

h1, h2 {
  font-weight: lighter;
  margin: 0;
}

input {
  background-color: transparent; color: white;
  border: 0; border-bottom: 1px solid white;
  padding: 10px;
  display: block;
  margin-top: 10px;
  outline: 0;
  font-size: 1rem;
  width: 100%;
}

button, a.button {
  text-decoration: none;
  display: inline-block;
  background-color: white; color: black;
  cursor: pointer;
  padding: 5px;
  margin-top: 20px;
  outline: 0;
  font-size: 1rem;
  border: 0;
  border: 1px solid white; border-radius: 5px;
  transition: 0.25s;
}

button[type=submit] {
  display: block;
  width: 100%;
}

button:hover {
  background-color: lightgrey; color: black
}

button[disabled] {
  background-color: grey; color: black;
  cursor: not-allowed;
  border: 1px solid grey;
}

button[disabled]:hover {
  background-color: grey; color: black;
}